section.fullscreen.main__section
  .novelty
    .novelty__box
      h5.novelty__title NEW 
      p.novelty__description High Intensity workout to burn calories
  .fullscreen__main  
    .fullscreen__title-block
      h1.fullscreen__title
        |Cardio 
        br 
        |Exercise   
      p.fullscreen__description   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    .fullscreen__counters  
      .counter.fullscreen__counter
        h6.counter__title.counter__title_yellow 38:14
        p.counter__subtitle time
      .counter.fullscreen__counter
        h6.counter__title.counter__title_red 165
        p.counter__subtitle Est calories
  .fullscreen__buttons
    a.button.fullscreen__button(href="#")
      span.button__text Get Started
    a.button.button_black.fullscreen__button(href="#")
      span.button__text Preview
  
    