header.header
  .header__container.container
    .logo.header__logo
      a.logo__link(href='/')
        img(src="img/icons/logo.svg", alt="logo")
    nav.nav.header__nav
      ul.nav__items   
        li.nav__item
          a.nav__link(href="#") Exercices
        li.nav__item
          a.nav__link(href="#") Trainers
        li.nav__item
          a.nav__link(href="#") Pricing
        li.nav__item
          a.nav__link(href="#") Login