main.main  
  .main__box.fullscreen-box
    .main__container.container 
      include fullscreen
  .main__box.popular-exercises-box
    .main__container.container 
      include popular-exercises
  .main__box.trainers-box
    .main__container.container 
      include trainers
  .main__box
    .main__container.container 
      .video-link
        .video-link__items 
          a.video-link__item(href='#')
            span.video-link__number 01
            .video-link__name-block 
              h4.video-link__name Workout at Home
              p.video-link__amount 15 videos
            .video-link__btn
              img.video-link__img(src="img/icons/arrow-video-link.svg", alt="arrow-video-link")
          a.video-link__item(href='#')
            span.video-link__number 02
            .video-link__name-block 
              h4.video-link__name Stay Strong and Fit
              p.video-link__amount 48 videos
            .video-link__btn
              img.video-link__img(src="img/icons/arrow-video-link.svg", alt="arrow-video-link")
          a.video-link__item(href='#')
            span.video-link__number 03
            .video-link__name-block 
              h4.video-link__name High Intensity
              p.video-link__amount 25 videos
            .video-link__btn
              img.video-link__img(src="img/icons/arrow-video-link.svg", alt="arrow-video-link")
          a.video-link__item(href='#')
            span.video-link__number 04
            .video-link__name-block 
              h4.video-link__name Simple Workout
              p.video-link__amount 35 videos
            .video-link__btn
              img.video-link__img(src="img/icons/arrow-video-link.svg", alt="arrow-video-link")
          a.video-link__item(href='#')
            span.video-link__number 05
            .video-link__name-block 
              h4.video-link__name Burn Calories
              p.video-link__amount 35 videos
            .video-link__btn
              img.video-link__img(src="img/icons/arrow-video-link.svg", alt="arrow-video-link")

    