section.popular-exercises.main__section 
  .popular-exercises-head.popular-exercises__head
    h4.popular-exercises-head__title Popular Exercises
    a.popular-exercises-head__link See More Exercises
  .cards.popular-exercises__main 
    .cards__items
      a.cards__item(href='#')
        .cards__video-block
          img.cards__video-image(src="img/Cards-1.png", alt="Cards-6")
          span.cards__video-text 58:24
        .cards__item-caption
          h5.cards__title Treadmill
          p.cards__subtitle 250 est calories 
      a.cards__item(href='#')
        .cards__video-block
          img.cards__video-image(src="img/Cards-2.png", alt="Cards-6")
          span.cards__video-text 58:24
        .cards__item-caption
          h5.cards__title Stretching
          p.cards__subtitle 250 est calories 
      a.cards__item(href='#')
        .cards__video-block
          img.cards__video-image(src="img/Cards-3.png", alt="Cards-6")
          span.cards__video-text 58:24
        .cards__item-caption
          h5.cards__title Yoga
          p.cards__subtitle 250 est calories 
      a.cards__item(href='#')
        .cards__video-block
          img.cards__video-image(src="img/Cards-4.png", alt="Cards-6")
          span.cards__video-text 58:24
        .cards__item-caption
          h5.cards__title Running
          p.cards__subtitle 250 est calories 
      a.cards__item(href='#')
        .cards__video-block
          img.cards__video-image(src="img/Cards-5.png", alt="Cards-6")
          span.cards__video-text 58:24
        .cards__item-caption
          h5.cards__title Lifting
          p.cards__subtitle 250 est calories 
      a.cards__item(href='#')
        .cards__video-block
          img.cards__video-image(src="img/Cards-6.png", alt="Cards-6")
          span.cards__video-text 58:24
        .cards__item-caption
          h5.cards__title PushUp
          p.cards__subtitle 250 est calories 