section.trainers.main__section
  .trainers__main
    .trainers__title-block 
      h2.trainers__title 
        |Workout 
        br
        |Program
        br
        |Made
        br
        |For You
      img.trainers__image-subtitle(src="img/icons/fox.svg", alt="fox")
    .trainers__description-block 
      p.trainers__description
        |Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        |sed do eiusmod tempor incididunt ut labore et dolore magna 
        |aliqua consectetur adipiscing.
      .trainers__button-block
        a.button.trainers__button(href="#")
          span.button__text Get Started
  .trainers__items
    .trainers-item.trainers__item
      img.trainers-item__image(src="img/trainer-img-1.png", alt="trainer-img")
      .trainers-item__caption
        h5.trainers-item__title Samantha William
        p.trainers-item__subtitle Trainer
    .trainers-item.trainers__item.trainers__item_bottom
      img.trainers-item__image(src="img/trainer-img-2.png", alt="trainer-img")
      .trainers-item__caption
        h5.trainers-item__title Karen Summer
        p.trainers-item__subtitle Trainer
    .trainers-item.trainers__item.trainers__item_big
      img.trainers-item__image.trainers-item__image_big(src="img/trainer-img-3.png", alt="trainer-img")
      .trainers-item__caption
        h5.trainers-item__title Jonathan Wise
        p.trainers-item__subtitle Trainer