.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 20px 0px 20px;
    margin-bottom: 100px;
  }
  &__logo {}
  &__nav {}
}

.nav {
  &__items {
    display: flex;
    align-items: center;  
    gap: 50px;
  }
  &__item {}
  &__link {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    opacity: 0.67;
    text-transform: uppercase;
  }
  &__link:hover {
   color: #E4E2E2;
  }
}