.trainers-box {
  background: rgba(255, 255, 255, .1);
  padding: 100px 0px 400px 0px;
}
.trainers {
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    justify-content: space-between;
    gap: 119px;
    
  }
  &__title-block {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 480px;
  }
  &__title {
    display: block;
    font-weight: 600;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -2px;
  }
  &__image-subtitle {
    position: absolute;
    width: 100%;
    bottom: -105px;
    left: -30px;
    z-index: -10;
  }
  &__description-block {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin: 32px 0px 0px 0px;
    
  }
  &__description {
    font-size: 25px;
    line-height: 50px;
    opacity: .7;
  }
  &__button-block {
    display: flex;
  }
  &__items {
    display: flex;
    align-items: flex-end;
  }
  &__item{
    &_bottom {
      justify-content: end;
      height: 642px;
      margin: 0px 0px -321px 0px;
    }
  }

  .trainers-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__image {
      max-width: 321px;
      max-height: 321px;
      border-radius: 10px;
      &_big {
        max-width: 558px;
        max-height: 514px;  
      }
    }
    &__caption {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0px 0px 0px 20px;
    }
    &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.5px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.5px;
      opacity: 0.67;
    }
  }
}
